* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: url(Background60.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 120px;
}

.header {
    margin-top: 2rem;
    text-align: center;
    font-size: 5rem;
    color: white;
    text-shadow: 0 3px 10px red, 0 -3px 10px yellow;
}

.games {
    margin: 1rem 0;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 3rem;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100px;
    margin: 1rem;
    color: white;
    text-shadow: 2px 2px 10px black;
    text-align: center;
    font-size: 2rem;
    transition: transform 0.3s ease;


}

a {
    text-decoration: none;
}

.explanation {
    margin: 2rem;
    text-align: center;
    font-size: 2rem;
    color: rgb(22, 22, 22);
    letter-spacing: 3px;
    font-weight: 900;
}


.game-box,
.game-box>p {
    background-color: rgb(56, 56, 56);
    border-radius: 10px;
}

.game-box {
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

.game:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 620px) {
    .header>p {
        font-size: 3rem;
    }


    body {
        padding: 0px 20px;
    }



    .game {
        width: 110px;
        height: 60px;
        margin: 0.6rem;
        color: white;
        text-shadow: 2px 2px 10px black;
        text-align: center;
        font-size: 1.2rem;
    }


    .game>p {
        padding: 5px 1rem;
    }

    .explanation {
        margin: 1rem;
        text-align: center;
        font-size: 1.4rem;
        color: rgb(22, 22, 22);
        letter-spacing: 2px;
        font-weight: 900;

    }

}